<%= content_for :scripts do %>
  <%= javascript_pack_tag 'articles/index' %>
<% end %>

<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans ">
    <div class="w-full lg:w-5/6 overflow-x-scroll">
      <div class="bg-white shadow-md rounded my-6">
        <table class="w-full table-auto">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">slag</th>
              <th class="py-3 px-6 text-left">title</th>
              <th class="py-3 px-6 text-center">emoji</th>
              <th class="py-3 px-6 text-center">type</th>
              <th class="py-3 px-6 text-center">topics</th>
              <th class="py-3 px-6 text-center">published</th>
              <th class="py-3 px-6 text-center">actions</th>
            </tr>
          </thead>

          <tbody class="text-gray-600 text-sm font-light">
            <% @articles.each do |article| %>
              <!-- 表示 -->
              <tr id="tr-<%= article.id %>" class="border-b border-gray-200 hover:bg-gray-100">
                <!-- slag -->
                <td class="py-3 px-6 text-left whitespace-nowrap">
                  <div class="slag flex items-center font-medium">
                    <input class="slag-input hidden" name="slag" value="<%= article.slag %>">
                    <span class="slag-text font-medium "><%= article.slag %></span>
                  </div>
                </td>

                <!-- title -->
                <td class="py-3 px-6 text-left">
                  <input class="title-input hidden" name="title" value="<%= article.title %>">
                  <%= article.title %>
                </td>

                <!-- emoji -->
                <td class="py-3 px-6 text-center text-3xl">
                  <%= article.emoji %>
                </td>

                <!-- category -->
                <td class="py-3 px-6 text-center">
                  <span class="py-1 px-3 rounded-full text-xs <%= "article-#{article.category}" %>"><%= article.category %></span>
                </td>

                <!-- topic -->
                <td>
                  <ul class="m-2">
                    <% article.topics.split(",").each do |topic| %>
                      <li><span class="m-1 px-3 rounded-full text-xs bg-yellow-200"><%= topic.gsub('"', '') %></span></li>
                    <% end %>
                  </ul> 
                </td>

                <!-- published -->
                <td class="py-3 px-6 text-center">
                  <div class="flex items-center justify-center">
                    <% if article.published %>
                      <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs" ><%= article.published %></span>
                    <% else %>
                      <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs" ><%= article.published %></span>
                    <% end %>
                  </div>
                </td>

                <!-- slag -->
                <td class="py-3 px-6 text-center">
                  <div class="flex item-center justify-center">
                    <a class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110" rel="noopener noreferrer" target="_blank" href="<%= article.qiita_url %>">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                      </svg>
                    </a>
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                      </svg>
                    </div>
                    <div class="show-delete-modal w-4 mr-2 transform hover:text-purple-500 hover:scale-110" 
                         data-id="<%= article.id %>">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- delete alert modal 参考:https://tailwindui.com/components/application-ui/overlays/modals -->
<div id="delete-modal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="hidden-delete-modal fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <!-- Heroicon name: outline/exclamation -->
            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left self-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
              記事を削除しますか？
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">
                タイトル：<span id="target-title" class="break-all">hogehogehogeohogehogehogeohogehogehogeohohogehogehogeogehogehogeohogehogehogeohogehogehogeohogehogehogeohogehogehogeohogehogehogeo</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <a data-method="delete" class="delete-button w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          削除
        <a>
        <button type="button" class="hidden-delete-modal mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          キャンセル
        </button>
      </div>
    </div>
  </div>
</div>