<!DOCTYPE html>
<html>
  <head>
    <title>QtoZ<%= content_for?(:html_title) ? " | " + yield(:html_title) : "" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVR4SHCMG2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NVR4SHCMG2');
    </script>
  </head>

  <body class="text-gray-800">
    <div>
      <%= render 'header' %>
      <%= render 'flash_message' %>
      <main>
        <div class="pt-23">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= yield :scripts %>
  </body>
</html>
